.container {
    background-color:#3161e0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-top {
    line-height: 26px;
}

.logo {
    border-width: 1px;
    width: 150px;
    height: 50px;
    background-color: #3161e0;
    padding: 10px;
   
}

.link {
    width: 500px;
    height: 50px;
    background-color: #3161e0;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    }

    
    .link a:link {
    color: white;
    text-decoration: none;
    }

.login {
    border-width: 1px;
    width: 75px;
    height: 40px;
    background-color: white;
    text-align: center;
    border-radius: 25px;
    line-height: 35px;
   
}

 .access {
     background-color: white;
     border: none;
     font-weight: bold
 }

.top {
    background-image: url(img/jumbo.png);
    height: 500px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    
}

.show {
    background-color: transparent;
    width: 700px;
    height: 300px;
 
}


.button-download {
border-radius: 25px;
border-color: white;
background-color: white;
height: 40px;
width: 200px;
font-weight: bold;
justify-content: center;
line-height: 35px;


}

.button-open {
    border-radius: 25px;
    border-color: darkslategray;
    background-color: darkslategray;
    height: 40px;
    width: 250px;
    color: white;
    font-weight: bold;
    justify-content: center;
    line-height: 35px;
  
}


 h1 {
     font-size: 48px;
     font-weight: bold;
     color: white;
     text-align: center;
 }

 
 p {
    color: white;
    text-align: center;
    padding: 35px;
 }
    

.bg-white {
    background-color: white;
    width: auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-left {
    width: 700px;
    height: 400px;
}

.image-right {
    width: 200px;
    height: 400px;

}


.side-title {
    color: black;
    font-size: 30px;
    text-align: left;
    padding-top: 35px;
    font-weight: bold;
}

.long-title {
    color: black;
    font-size: 30px;
    font-weight: bold;
    display: inline;
    align-items: center;
    justify-content: center;
 
}


.side-paragraph {
    color: black;
    text-align: left;
    padding: 0;
    line-height: 18px;
}


.bg-grey {
    background-color: lightgrey;
    width: auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-left {
    width: 200px;
    height: 400px;
}

.description-right {
    width: 700px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary {
    background-color: lightgrey;
    height: 500px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-box {
    width: 700px;
    height: 400px;
    background-color: green;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top {
    background-color: rgb(42, 59, 59);
    height: 600px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-lists-menu {
    background-color: plum;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
    width: 300px;
    height: 500px;
}

.footer-details {
    background-color: rgb(42, 59, 59);
    height: 150px;
    width: auto;
    border-top: 2px;
    border-color: white;
}

.footer-lists-details {
    background-color: rgb(30, 210, 234);
    border-color: white;
    border-width: 1px;
    border-style: dashed;
    width: 700px;
    height: 500px;
    display: flex;
}

.col {
    width: 175px;
    height: 500px;
    border: 1px;
    border-color: white;
    border-style: dashed;

}

.menu-bottom {
    width: 1005px;
    height: 50px;
    background-color: aquamarine;
    border: 2px;
    border-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.piccole-icone {
    background-color: pink;
    border: 1px;
    width: 100px;
    height: 25px;
    border-color: black;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-content: center;

}


.gris {
    background-color: rgb(42, 59, 59);
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}